*.bak
*.cdf
*.done
*.jdi
*.rpt
*.sld
*.smsg
*.srf
*.summary
*.qdf
*.qws
*_description.txt
*.map
*.objdump
db/
incremental_db/
.DS_Store
.qsys_edit/
ModelSim/
simulation/
greybox_tmp/
*.bsf
*.cmp
*.spd
*.f
*.ppf
software/snes_tst_bsp/
Stolen Stuff/
obj/
.cproject
.project
.settings/
.force_rebuild
.force_relink
Makefile
meminit.qip
meminit.spd
*.olddump
create-this-app
*.map
hdl_sim/